<table class="table table-borderless">
    <tr>
        <td>Nama Dosen</td>
        <td>
            <input id="namaDosen" class="form-control">
            <small id="errNamaDosen" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>
            <input id="jk" class="form-control">
            <small id="errJk" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>
            <input id="alamat" class="form-control">
            <small id="errAlamat" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="addDosenBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="addDosenBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../dosen/create.js"></script>