<input type="hidden" th:value="${id}" id="editKelasId">

<table class="table table-borderless">
    <tr>
        <td>Nama Kelas</td>
        <td>
            <input id="namaKelas" class="form-control">
            <small id="errNamaKelas" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="updateKelasnBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="updateKelasBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../kelas/update.js"></script>