<table class="table table-borderless">
    <tr>
        <td>Nama Mahasiswa</td>
        <td>
            <input id="namaMhs" class="form-control">
            <small id="errNamaMhs" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>
            <input id="jk" class="form-control">
            <small id="errJk" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>
            <input id="alamat" class="form-control">
            <small id="errAlamat" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="addMhsBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="addMhsBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../mahasiswa/create.js"></script>