<input type="hidden" th:value="${id}" id="editMhsId">

<table class="table table-borderless">
    <tr>
        <td>Nama Mahasiswa</td>
        <td>
            <input id="namaMhs" class="form-control">
            <small id="errNamaMhs" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Jenis Kelamin</td>
        <td>
            <input id="jk" class="form-control">
            <small id="errJk" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Alamat</td>
        <td>
            <input id="alamat" class="form-control">
            <small id="errAlamat" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="updateMhsBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="updateMhsBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../mahasiswa/update.js"></script>